[submodule "external/esp-idf"]
	path = external/esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "external/mongoose"]
	path = external/mongoose
	url = https://github.com/cesanta/mongoose.git
